<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.thiagosousa.firebaseexamples">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="true"
        android:icon="@drawable/firebase_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/firebase_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activitys.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.RegisterActivity"
            android:exported="true"
            android:label="@string/button_register" />
        <activity
            android:name=".activitys.HomeActivity"
            android:exported="true"
            android:label="@string/title_activity_home"
            android:parentActivityName=".useful.UtilActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.thiagosousa.firebaseexamples.useful.UtilActivity" />
        </activity>
        <activity
            android:name=".activitys.FirebaseDatabaseActivity"
            android:label="@string/database_screen_label"
            android:screenOrientation="portrait"
            android:theme="@style/messages_screen_theme" />
        <activity android:name=".activitys.FragmentActivity" />
        <activity
            android:name=".activitys.CustomListActivity"
            android:label="Material classification"
            android:screenOrientation="portrait" />
        <activity android:name=".activitys.ResiduoDetailActivity" />
        <activity
            android:name=".activitys.GradientBackgroundAnimActivity"
            android:label="Animation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.SharedAnimationExample"
            android:theme="@style/SharedAnimationActivityTheme" />
        <activity android:name=".activitys.coordinatorlayoutexample.CoordinatorLayoutExampleActivity" />
        <activity
            android:name=".activitys.coordinatorlayoutexample.subactivities.AppBarPadraoActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activitys.coordinatorlayoutexample.subactivities.AbasActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".activitys.coordinatorlayoutexample.subactivities.EspacoFlexivelActivity"
            android:label="@string/title_activity_espaco_flexivel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activitys.coordinatorlayoutexample.subactivities.EspacoFlexivelComImagemActivity" />
        <activity android:name=".activitys.MoveFunLogoSvgActivity" />
        <activity
            android:name=".activitys.BottomSheetActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activitys.CustomListViewViewHolderActivity" />
        <activity android:name=".DetailViewHolderActivity" />
        <activity android:name=".RecyclerViewActivity"></activity>
    </application>

</manifest>